.heroes{

}

 /*removing dots of list */
ul {
  list-style-type: none;
}


button {
  margin: 5px; /* or whatever you like */
}



/* Dropdown Button */
.hero-id-button, .hero-name-button{
  color: black;
  font-size: 16px;
  padding-left: -10px;
  border: none;
  outline: none;
  margin-right: -10px;
  border-radius: 5px;
}

/*set length for Hero-name-buttons to be equal*/
.hero-name-button{
  width: 18%;
  text-align: left;
}

.hero-id-button{
  background-color: #1c333f;
  color: white;
}

.hero-name-button:hover{
  background-color: black;
  color: white;
}

