.heroes{

}


/* Dropdown Button */
.hero-id-button, .hero-name-button{
  color: black;
  font-size: 16px;
  padding-left: -10px;
  border: none;
  outline: none;
  margin-right: -10px;
  border-radius: 5px;
}

.hero-id-button{
  background-color: #1c333f;
  color: white;
}

.hero-name-button:hover{
  background-color: black;
  color: white;
}

