<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

!-->


<button class="hero-id-button">Hero id</button>
<button class="hero-name-button">Hero name</button>


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <div style="grid-template-columns: 400px">
      <button class="hero-id-button" type="button" (click)="onSelect(hero)"
              [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
      </button>
      <button style="grid-template-columns: 100px 100px" class="hero-name-button" type="button" (click)="onSelect(hero)"
              [class.selected]="hero === selectedHero">
        <span class="hero-name">{{hero.name}}</span>
      </button>
    </div>




  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
