<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

!-->


<!--<button class="hero-id-button">Hero id</button>-->
<!--<button class="hero-name-button">Hero name</button>-->


<h2 class="head-line">My Heroes</h2>
<div class="search-div" style="display: flex; flex-direction: row">
  <label style="display: flex; flex: 0.25; " class="hero-label" for="new-hero">Hero name: </label>
  <input class="hero-label-search" id="new-hero" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>


<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <div style="display: flex; flex-direction: row">
      <a routerLink="/detail/{{hero.id}}" style="display: flex; flex: 0.3;">
        <span class="badge">{{hero.id}}</span>
        <span class="hero-name" style="flex: 1;">{{hero.name}}</span>
      </a>
      <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </div>




  </li>

</ul>

<!--previously held html details that were transferred to hero-detail.component.html-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
