ul {
  list-style-type: none;
}

.dashboard-hero-element {

}

div a {
  /*within element space*/
  padding: 1rem;
  margin: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #1c333f;
  color: white;
  border-radius: 0px;
}

div a:hover {
  background-color: black;
  color: white;
}

.head-line{
  text-align: center;
}



